
body
{
	background-color:#003366;
}
.logo
{
	float:left;
	color:black;
	font-size:30px;
	font-weight:bolder;
	margin-top:-30px;
	margin-left:20px;

}
@media screen and (max-width:1000px ){
	.logo {
        width: 490px;
        margin-top: 0px;
	}
}
.logo img 
{
    margin-left:10px;height:40px;width:50px;margin-top:24px;
}
@media screen and (max-width:1000px ){
	.logo img {
        margin-left: 0px;
        margin-top: -10px;
	}
}
.socials
{
	
	padding:10px;
	margin-top:10px;
	padding-top:100px;
	color:white;
	width:100%;
	

}
.socials .fa
{
	padding-left:20px;
	color: white;
	margin-top:15px;
	padding-bottom:10px;
}
@media screen and (max-width:1000px ){
	.socials .fa {
        padding-left: 10px;
	}
}
@media screen and (max-width:400px ){
	.socials .fa {
        padding-left: 5px;
	}
}
.buy-btn
{
    float: ;
    color: white;
    background: linear-gradient(to top right,blue,lime);
    border-radius: 10px;
    padding: 10px ;
    width: 100px;
}
.buy-btn:hover
{
    text-decoration: none;
    color: white;
}
.header
{
	
	padding:10px;
	padding-top:10px;
	color:skyblue;
	background-color: white;
	width:800px;
    margin-top: 10px;
    margin-left: 80px;
    border-radius: 50px;
    position: fixed;
	

}
@media screen and (max-width:1000px ){
	.header {
        width: 490px;
        margin-left: 0px;
	}
}
.header a
{
	padding-left:20px;
	color: skyblue;
	margin-top:10px;
	padding-bottom:10px;
    
}
.header a:hover{
    text-decoration: none;
    color:aqua;
}
.menu {
    
}
@media screen and (max-width:1000px ){
	.menu a {
       display: none;
	}
}
@media screen and (max-width:400px ){
	.header a {
        padding-left: 5px;
	}
}


.sidepanel 
{
    display: none;
}
@media screen and (max-width:1000px ){

.sidepanel  
            {
              width:0px;
              position:fixed;
              z-index: 1;
              height: 280px;
              top: 100px;
              margin-left: 10px;
              background: linear-gradient(to  right,blue,white,brown);
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 10px;
                border-radius: 10px;
                display: block;
            }
}

.sidepanel a {
  padding:5px;
  text-decoration: none;
  font-size: 16px;
  color: cornflowerblue;
  display:block;
  transition: 0.3s;
    margin-top: 0px;
    text-align: ;
}

.sidepanel a:hover {
  color: aqua;
}

.sidepanel .closebtn 
{
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
    margin-top: -10px;
}

.openbtn 
{
font-size: 20px;
  cursor: pointer;
  color: #FF9900;
  border: none;
    padding-top: 20px;

 }
@media screen and (max-width:1000px ){
	.openbtn{
        margin-left: 280px;
        
	}
}
.openbtn:hover 
{
  background-color: transparent;
}








#home
{
        background-image: url(pexels-singkham-178541-1108572.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        margin-top: 0px;
        height: 500px;
        text-align: center;
    color: white;
}
.home
{
    padding-top: 200px;
    margin-left: 80px;
    width: 800px;
}
@media screen and (max-width:1000px ){
	.home{
        margin-left: 20px;
        width: 490px;
        
	}
}
b{
    color: cornflowerblue;
    font-weight: normal;
}
.home p
{
    margin-left: 100px;
    width: 600px;
}

@media screen and (max-width:1000px ){
	.home p{
        margin-left: 0px;
        width: 440px;
        
	}
}


#about
{
   margin-top: 50px; 
    padding: 50px;
}
@media screen and (max-width:1000px ){
	#about{
        width: 490px;
        padding: 10px;
        
	}
}
.about
{
    margin-left: 80px;
}
@media screen and (max-width:1000px ){
	.about{
        margin-left: 10px;
        width: 490px;
        padding: 10px;
        
	}
}
.about-box
{
    display: inline-block;
    width: 400px;
    border-radius: 100px;
}
p
{
font-size: 14px;
}
#about img
{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-top: 80px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
#about .img-box img
{
     height: 260px;
    margin-left: 210px;
    margin-top: -230px;
    width: 180px;
    border-radius: 100px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;   
}
#about p
{
    margin-top: 0px;
}




#services
{
   
    margin-top: 50px;
    background-color: aqua;
}
.services
{
    margin-left: 80px;
    background-color: aqua;
    padding: 50px;
}
@media screen and (max-width:1000px ){
	.services{
        margin-left: 10px;
        width: 490px;
        padding: 10px;
        
	}
}



#vision
{
    margin-top: 50px;
}
.vision
{
    margin-left: 80px;
    padding: 50px;
}
@media screen and (max-width:1000px ){
	.vision{
        margin-left: 10px;
        width: 490px;
        padding: 10px;
        
	}
}
#vision img
{
    height: 200px;
    width: 250px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: -300px;
    
}
@media screen and (max-width:1000px ){
	#vision img{
        margin-top: 10px;
        
	}
}
 ul 
{
    font-size: 14px;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}
li
{
    margin-left: 20px;
    list-style: none;
}
h6
{
    margin-left: 20px;
}
#vision img
{
    margin-left: 100px;
}




#solutions
{
    margin-top: -20px;
    background-color: aqua;
    padding: 50px;
    height: 450px;
}
@media screen and (max-width:1000px ){
	#solutions{
        margin-top: 50px;
        width: 490px;
        padding: 10px;
        height: 650px;
        
	}
}
.solutions
{
    margin-left: 80px;
    margin-top: 20px;
}
@media screen and (max-width:1000px ){
	.solutions{
        margin-left: 10px;
        width: 490px;
        padding: 10px;
        
        
	}
}
.solutions-box
{
    display: inline-block;
    width: 380px;
    border-radius: 200%;
}
#solutions .fa
{
    border-color: white;
    border-width: thick;
    border-style: solid;
    border-radius: 200px;
    padding: 20px;
    background: linear-gradient(to top right,blue,lime);
    color: white;
}
#solutions h6
{
    margin-left: 80px;
    margin-top: -70px;
}
#solutions li
{
    margin-left: 80px;
    font-size: 10px;
}
 #solutions .buy-btn
{
    margin-left: 80px;
    margin-top: 20px;
}
@media screen and (max-width:1000px ){
	.buy-btn{
        margin-left: 0px;
        
	}
}

#benefits
{
    margin-top: 50px;
    height: 400px;
    padding: 50px;
}
@media screen and (max-width:1000px ){
	#benefits{
        margin-top: 10px;
        height: 500px;
        padding: 10px;
        
	}
}
.benefits
{
    margin-left: 100px;
}
@media screen and (max-width:1000px ){
	.benefits{
        margin-left: 10px;
        width: 490px;
        padding: 10px;
        
	}
}
.benefit
{
    margin-left: 80px;
    margin-top: 50px;
}
@media screen and (max-width:1000px ){
	.benefit{
        margin-left: 10px;
        
	}
}
.benefits-box
{
    width: 190px;
    display: inline-block;
    border-left-color: aqua;
    border-left-style: solid;
    border-left-width: thick;
}
@media screen and (max-width:1000px ){
	.benefits-box{
        width: 200px;
        border:none;
        
	}
}
#power
{
        background-image: url(pexels-singkham-178541-1108572.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        margin-top: 0px;
        height: 200px;
        text-align: center;
    color: white;
}
.power
{
    padding-top: 50px;
    margin-left: 80px;
    width: 800px;
}
@media screen and (max-width:1000px ){
	.power{
        margin-left: 10px;
        width: 490px;
        padding: 10px;
        
	}
}

#efficient
{
    margin-top: 50px;
    padding: 50px;
}
@media screen and (max-width:1000px ){
	#efficient{
        padding: 10px;
        
	}
}
.efficient
{
    margin-left: 40px;
    text-align: center;
}
.efficient-box
{
   display: inline-block; 
    width: 400px;
    height: 250px;
    margin-top: 10px;
}
.overlay{
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all ease 0.6s;
	border-radius: 5px;
    color: white;
    padding-top: 160px;
    background-size: contain;
    
}
.overlay:hover
{
	opacity:1;
	
}
.overlay p, .overlay h6{
    
    margin-left: 20px;color: aqua;text-align: left;
}


#reviews
{
    margin-top: 0px;
    padding: 50px;
}
@media screen and (max-width:1000px ){
	#reviews{
        padding: 10px;
        
	}
}
.reviews
{
    margin-left: 80px;
}
@media screen and (max-width:1000px ){
	.reviews{
        margin-left: 10px;
        width: 490px;
        padding: 10px;
        
	}
}
.review
{
    width: 400px;
    display: inline-block;
}
.review-box
{
    font-size: 14px;
    border-radius: 200px;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
}
.review img
{
    height: 50px;
    width: 50px;
    border-radius: 200px;
        
}
.review-box img
{
    height: 80px;
    width: 80px;
    border-radius: 200px;
        
}
.review-box p
{
    margin-left: 90px;
    margin-top: -80px;
    padding-bottom: 10px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: thin;
    font-size: 14px;
}
.review-box h6
{
    margin-left: 90px;
}
.review .buy-btn
{
   width: 150px;
    float: left;
    text-align: center;
}



#clients
{
    margin-top: 20px;
    padding: 50px;
    text-align: center;
    height: 200px;
}
@media screen and (max-width:1000px ){
	#clients{
        padding: 10px;
        
	}
}
.clients
{
    margin-left: 20px;
}
@media screen and (max-width:1000px ){
	.clients{
        margin-left: 0px;
        
	}
}
.clients img
{
    height: 50px;
    width: 80px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 30px;
        
}



#process
{
    margin-top: 50px;
    padding: 50px;
    background-color: cornflowerblue;
}
@media screen and (max-width:1000px ){
	#process{
        padding: 10px;
        
	}
}
.process{
    margin-left: 80px;
}
@media screen and (max-width:1000px ){
	.process{
        margin-left: 10px;
        width: 490px;
        padding: 10px;
        
	}
}
.process-box
{
    width: 260px;
    border-radius: 200px;
    display: inline-block;
}
@media screen and (max-width:1000px ){
	.process-box{
        margin-left: 10px;
        width: 200px;
        
	}
}
.process-box ul li
{
    list-style:decimal;
}



#growth
{
    padding: 50px;
    
}
@media screen and (max-width:1000px ){
	#growth{
        padding: 10px;
        
	}
}
.growth
{
    margin-left: 80px;
}
@media screen and (max-width:1000px ){
	.growth{
        margin-left: 10px;
        width: 490px;
        padding: 10px;
        
	}
}
.grow
{
    margin-left: -20px;
}
.growth-box
{
    display: inline-block;
    width: 250px;
    height: 340px;
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
    border-color: grey;
    border-style: solid;
    padding: 20px;
}
@media screen and (max-width:1000px ){
	.growth-box{
        margin-left: 80px;
        width: 300px;
        text-align: center;
        
	}
}
#growth .buy-btn
{
    float: left;
    margin-top: -10px;
    background-color: white;
    border-radius: 200px;
    text-align: center;
    margin-left: 20px;
}





#call
{
        background-color: cornflowerblue;
        margin-top: 0px;
        height: 250px;
        text-align: center;
    color: white;
}
.call
{
    padding-top: 50px;
    margin-left: 80px;
}
@media screen and (max-width:1000px ){
	.call{
        margin-left: 10px;
        
	}
}
.call ul
{
    width: 300px;
    background-color: cornflowerblue;
    margin-left: 300px;
}
@media screen and (max-width:1000px ){
	.call ul{
        margin-left: 80px;
        
	}
}

#contacts
{
    padding: 50px;
    margin-top: 50px;
}
@media screen and (max-width:1000px ){
	#contacts{
        padding: 10px;
        
	}
}
.contacts
{
    margin-left: 80px;
}
@media screen and (max-width:1000px ){
	.contacts{
        margin-left: 10px;
        width: 490px;
        padding: 10px;
        
	}
}
.contacts-box
{
    display: inline-block;
    width: 400px;
}
.form-msg
{

    padding:10px;
    text-align:center;
    height:300px;
    margin-left: 20px;
    width: 300px;
    margin-top: -150px;
    font-size: 14px;
  
}
@media screen and (max-width:1000px ){
	.form-msg{
        margin-top: 50px;
        margin-left: 50px;
      
        
	}
}
form
{
    
    margin-left: -110px;
}

input
{
  	padding:10px;
   height:40px;
   width: 300px;
   display: inline-block;
    margin-left: 100px;
    margin-top: 10px;
    
    

}
.col-75
{

  margin-top: 10px;
  margin-left:100px;
  
}
textarea
{
	width: 300px;
    height: 80px;
    padding: 10px;
    margin-left: 10px;
}
@media screen and (max-width:1000px ){
	textarea{
		width:300px;
	}
}
.form-group{
    margin-left: 100px;
}
 button
{

    
    height: 50px;
    width: 300px;
    font-size: 14px;
    background: linear-gradient(to top right,blue,lime);
    padding-left: 100px;
    padding:10px;
    border-radius:10px;
    float: left;
    color: white;
}





.footer-content p
{
    width: 300px;
    color: white;
    font-size: 12px;
}

.footer
{
	background-color:cornflowerblue;
	margin-top:50px;
	color:white;
	width:100%;
	padding:10px;
    
}
@media screen and (max-width:1000px ){
	.footer {
        width: 480px;
        margin-left: 0px;  
	}
}
.footer-content
{
    display: inline-block;
    margin-left: 80px;
}


@media screen and (max-width:400px ){
	.footer-content {
        margin-left: 130px;
        width: 300px;margin-top: 20px;
        
	}
}
.footer h4
{
	color:white;
   font-size: 16px;
    padding: 5px;
    margin-left:20px;
    
	
}
.footer .socials
{
    padding-top: 0px;
    margin-top: -20px;
}
.footer .socials .fa
{
    background: linear-gradient(to top right,blue,lime);
    color: white;
    padding: 10px;
}
.footer h5
{
	margin-left:30px;
	font-weight:lighter;
	font-size:12px;
  
}
.footer a
{
    color: white;
}
.footer a:hover
{
    color: aqua;
    text-decoration: none;
}


